body {
	background-color: yellow;
}

.code-editor {
	min-height: 30vh;
	display: flex;
	flex-flow: column nowrap;
}

.code-editor [name=code] {
	flex-grow: 1;
}

.code-editor [type=submit] {
	float: right;
}

.output textarea {
	min-height: 30vh;
	width: 100%;
	wrap: soft;
}

.output textarea.error {
	color: red;
}